.header-container {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  box-shadow: 10px 10px 5px rgb(217, 225, 228);
}

.logo-container {
  /* border: 1px solid black; */
  font-size: 10px;
}

.image {
  height: 100px;
  width: 200px;
}

/* .nav-container{
  border: 1px solid black;
} */
.nav-container>ul {
  display: flex;
  list-style: none;
}

.nav-container>ul>li {
  padding: 10px;
  margin: 10px;
}


.card-wrap {
  padding: 37px;
  margin: 20px;
  width: 250px;
  /* height: 350px; */
  border: 1px solid rgba(218, 199, 199, 0.822);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
}

.card-wrap:hover {
  box-shadow: 20px 20px 10px rgba(217, 225, 228, 0.808);
  cursor: pointer;
}

.card-img {
  width: 100%;
}
.itemlist_img{
  width: 50%;
}
.card-bottom {
  display: flex;
  justify-content: space-between;
}
.itemlist_display{
  display: flex;
  justify-content: space-between;
}
.menu {
  text-align: center;
}
.menu-restro-name {
font-weight: bold;
margin-top: 40px;
}
.itemlist{
margin: 2px;
padding: 2px;
}
.itemlist_description{
  font-size: 13px;
}
.accordian {
  width: 50%;
  background-color: rgba(156, 144, 144, 0.151);
  padding: 10px;
  margin: 15px auto;
  align-items: center;
  box-shadow: 4px 4px rgb(196, 195, 195);
  border-radius: 12px;
}
.accordian-child{
  display: flex;
  justify-content: space-between;
}
.accordian-title{
  font-weight: 900;
  font-size: medium;
}
.filter-btn {
  background-color: rgb(19, 18, 18);
  color: #fff;
  margin: 28px;
  padding: 5px;
  width: 15%;
  margin-left: 1.5%;
  cursor: pointer;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  margin: 20px;
  width: 150px;
  height: 300px;
}
.login-btn{
  padding: 5px;
  height: 50px;
  border-radius: 13px;
  cursor: pointer;
  margin-top: 5px;
}
.search{
  margin: 30px;
}
.search-box{
  padding: 6px;
}
.filter{
  display: flex;
  margin-left: 1.5%;
}
.search-btn{
  cursor: pointer;
  margin-left: 10px;
  padding: 6px;
  width: 90px;
  background-color: black;
  color: aliceblue;
}
.header-links{
  text-decoration: none;
}

.promoted-class{
  position: absolute;
  background-color: black;
  color: #fff;
  border-radius: '20px';
  margin-left: '25px';
  padding: '5px';
}